<body>

    <center>
        <img src="\static\img\perbandingan.png" height="350px">
    </center>
</body>

<h2 style="background-color: rgba(135, 30, 30, 0.568) ;">Latihan 1</h2>
<p>Tentukan perbandingan yang paling sederhana dari pasangan bilangan di bawah ini!</p>
<p>a. 12 cm dan 18 </p>
<p>b. 48 kg dan 36 kg</p>
<p>c. 20 m dan 4000 cm</p>
<p>d. 6 m dan 12 m</p>

<h2 style="background-color: rgba(118, 59, 119, 0.43);">Latihan 2</h2>
<p>Dari 200 siswa diwawancarai tentang kesukaan menggunakan media sosial, 150 siswa memilih media sosial A dan 50 siswa memilih media sosial B. Tentukan rasio banyak siswa yang memilih media sosial A terhadap jumlah siswa yang diwawancarainya!</p>

<h3 style="background-color: rgba(118, 59, 119, 0.43);">Latihan 3</h3>
<p>Tentukan perbandingan dari pasangan bilangan di bawah ini!</p>
<p>a. 3 m : 60 cm</p>
<p>b. 4 kg : 8 ons</p>

<h2 style="background-color: rgba(118, 59, 119, 0.43);">Latihan 4</h2>
<center>
    <img src="\static\img\domba.png" height="250px">
</center>
<p>Pada suatu hari seorang peternak memiliki 30 ekor domba dan mempunyai persediaan makanan selama 15 hari. Jika peternak itu menjual 5 ekor domba, maka berapa hari persediaan makanan akan habis?</p>

<h2 style="background-color: rgba(118, 59, 119, 0.43);">Latihan 5</h2>
<p>Suatu maket rumah adat bugis dibuat dengan skala 1 : 200. Diketahui rumah dalam maket tersebut memiliki panjang 7,5 cm dan lebar 4 cm. Hitunglah ukuran panjang   dan lebar rumah sebenarnya !</p>



<style>
    body {
      background-image: linear-gradient(to right, #D75281, #A084CA);
      margin-left: 90px;
      margin-right: 90px;
      padding: 0;
  }
  
  nav {
      top: 0;
      left: 0;
      position: fixed;
      height: 80px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid white;
  }
  
  .logo {
      float: left;
      height: 10px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 20px 20px;
      justify-content: space-around;
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;
      display: flex;
  }
  
  nav ul li a {
      font-size: 15px;
      font-weight: bold;
      color: white;
      line-height: 80px;
      text-decoration: none;
      padding: 12px 30px;
  }
  nav ul li a:hover {
border-radius: 10px;
background: rgba(0, 0, 0, 0.8);
}
</style>


