<body>

    <center>
        <img src="\static\img\perbandingan.png" height="350px">
    </center>
</body>

<h2 style="background-color: rgba(135, 30, 30, 0.568) ;">Contoh Soal 1</h2>
<p>Jarak kota A dan kota J pada peta adalah 1,5 cm. Peta tersebut dibuat dengan skala 1 : 1.500.000. Tentukan jarak sebenarnya antara kota A dan J!</p>
<p>Pembahasan:</p>
<p>Dari soal diperoleh informasi berikut.</p>
<ol>
    <li> Skala = 1 : 1.500.000</li>
    <li>Jarak pada peta = 1,5 cm</li>
</ol>
<p>Berdasarkan rumus skala, diperoleh:</p>
<justify>
    <img src="\static\img\contohsoal1.png" height="250px">
</justify>
<p>Jadi, jarak antara kota A dan J sebenarnya adalah 22,5 km.</p>

<h2 style="background-color: rgba(118, 59, 119, 0.43);">Contoh Soal 2</h2>
<p>Sebuah vas bunga setinggi 15 cm diletakkan di depan sebuah lampu. Vas tersebut membentuk bayangan di layar. Jika tinggi bayangan vas bunga 30 cm, tentukan faktor perbesarannya!
<p>Pembasahan:</p>
<p>Dari soal diperoleh informasi berikut.</p>
<ol>
    <li>Tinggi awal = 15 cm</li>
    <li>Tinggi hasil perbesaran = 30 cm</li>
</ol> 
<p>Berdasarkan rumus faktor perbesaran, diperoleh:</p>
<justify>
    <img src="\static\img\contohsoal2.png" height="150px">
</justify> 
 <p>Jadi, faktor perbesarannya adalah 2.</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">Contoh Soal 3</h2>
<p>Seorang pemborong sedang menghitung waktu untuk menyelesaikan pembuatan rumah. Jika dibantu 9 pekerja, pengerjaan rumah selesai dalam waktu 32 hari. Agar pengerjaan rumah selesai dalam waktu 24 hari, berapakah jumlah pekerja yang dibutuhkan?</p>
<p>Pembahasan:</p>
<p>Dari soal diperoleh informasi berikut.</p>
<p>9 pekerja -> 32 hari</p>
<p>x pekerja -> 24 hari</p>
<p>Ingat, semakin banyak pekerja semakin cepat waktu yang diperlukan untuk menyelesaikan pembangunan rumah. Dengan demikian, gunakan rumus perbandingan nilai</p>
<justify>
    <img src="\static\img\contohsoal3.png" height="150px">
</justify>
<p>Jadi, jumlah pekerja yang dibutuhkan agar pembuatan rumah selesai dalam waktu 24 hari adalah 12 pekerja.</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">Contoh Soal 4</h2>
<p>Tentukan perbandingan yang paling sederhana dari pasangan bilangan di bawah ini !</p>
<p>a. 8 cm dan 14 cm</p>
<p>b. 12 kg dan 16 kg</p>
<p>Jawab :</p>
<p>a. 8 cm : 14 cm Satuan cm </p>
<p> 8 : 14 Satuan hilangkan </p>
<p>4 : 7 Disederhanakan</p>
<p>Dengan demikian, 8 cm : 14 cm = 4 : 7</p>
<p>b. 12 kg : 16 kg Satuan kg</p>
<p>12 : 16 Satuan hilangkan</p>
<p>3 : 4 Disederhanakan</p>
<p>Dengan demikian, 12 kg : 16 kg = 3 : 4</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">Contoh Soal 5</h2>
<p>Sederhanakanlah perbandingan perbandingan di bawah ini.</p>
<p>a. 4 m : 30 cm : Besaran panjang dengan satuan m dan cm</p>
<p>b. 2 kg : 8 ons : Besaran massa dengan satuan kg dan ons</p>
<p>Jawaban :</p>
<p>Untuk menyederhanakan perbandingan di atas, kamu harus menyamakan terlebih dahulu bentuk satuannya. Setelah menyamakan satuannya, kemudian kamu dapat menyederhanakan perbandingan bilangan tersebut.</p>
<p>a. 4 m : 30 cm Perbandingan besaran panjang
<p>400 cm : 30 cm Satuan cm (1 m = 100 cm)</p>
<p>400 : 30 Satuan hilangkan</p>
<p>40 : 3  Disederhanakan</p>
<p>Dengan demikian, 4 m : 30 cm = 40 : 3</p>
<br>
<p>b. 2 kg : 8 ons Perbandingan besaran massa</p>
<p>20 : 8 Satuan hilangkan</p>
<p>5 : 2   Disederhanakan</p>
<p>Dengan demikian, 2 kg : 8 ons = 5 : 2</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">Contoh Soal 6</h2>
<p>Kota Makassar ke Kota Watampone tertulis skala 1 : 2.000.000, artinya jarak 1 cm pada gambar mewakili jarak yang sesungguhnya, yaitu 2.000.000 cm. Jadi, skala adalah perbandingan jarak pada gambar/peta dengan jarak yang sesungguhnya. Jika dikembalikan ke bentuk perbandingan menjadi</p>
<justify>
    <img src="\static\img\skala1.png" height="250px">
</justify> 
<p>Dapat disimpulkan jarak 1 cm pada peta mewakili 20 km jarak yang sebenarnya.</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">Contoh Soal 7</h2>
<p>Jika Ananda mengamati peta yang berbeda sehingga jarak Kota A dengan B adalah 3 cm dan jarak sebenarnya adalah 3.000.000, maka berapakah skala yang peta tersebut ?</p>
<justify>
    <img src="\static\img\skala2.png" height="250px">
</justify> 


<style>
    body {
      background-image: linear-gradient(to right, #D75281, #A084CA);
      margin-left: 90px;
      margin-right: 90px;
      padding: 0;
  }
  
  nav {
      top: 0;
      left: 0;
      position: fixed;
      height: 80px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid white;
  }
  
  .logo {
      float: left;
      height: 10px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 20px 20px;
      justify-content: space-around;
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;
      display: flex;
  }
  
  nav ul li a {
      font-size: 15px;
      font-weight: bold;
      color: white;
      line-height: 80px;
      text-decoration: none;
      padding: 12px 30px;
  }
  nav ul li a:hover {
border-radius: 10px;
background: rgba(0, 0, 0, 0.8);
}
</style>


