<body>

    <center>
        <img src="\static\img\perbandingan.png" height="350px">
    </center>
</body>

<h2 style="background-color: rgba(135, 30, 30, 0.568) ;">1. Pengertian Perbandingan</h2>
<p>Perbandingan adalah proses membandingkan nilai dari dua besaran sejenis. Biasa dinyatakan secara sederhana dan dalam bentuk pecahan. Konsep ini bisa diaplikasikan dalam kehidupan sehari-hari, misalnya pada skala.</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">2. Gambar Berskala</h2>
<center>
    <img src="\static\img\skala.png" height="350px">
</center>
<h3 style="background-color: rgba(118, 59, 119, 0.43);">a. Skala</h3>
<p>Pernahkah kamu melihat skala? Jika kamu membuka peta, pasti kamu akan menemukan skala. Skala merupakan perbandingan antara jarak pada peta dan jarak sebenarnya. Biasanya, skala ditulis dengan awalan 1 : … Contoh skala adalah 1 : 500.000. Apakah Mathlovers tahu arti 1 : 500.000?</p>
<p>Ingat, skala merupakan perbandingan antara jarak pada peta dan jarak sebenarnya. Artinya, setiap 1 cm pada peta mewakili jarak 500.000 cm atau 5 km pada keadaan sebenarnya. Secara matematis, skala dirumuskan sebagai berikut.</p>
<center>
    <img src="\static\img\rumusskala.png" height="80px">
</center>
<p>Keterangan:</p>
<p>Jp = jarak pada peta; dan</p>
<p>Js = jarak sebenarnya</p>
<h3 style="background-color: rgba(118, 59, 119, 0.43);">b. Faktor perbesaran dan pengecilan</h3>
<p>Faktor perbesaran/pengecilan adalah perbandingan antara hasil perbesaran/pengecilan dan ukuran awal benda. Secara matematis, faktor perbesaran dan pengecilan dirumuskan sebagai berikut:</p>
<center>
    <img src="\static\img\faktorp.png" height="150px">
</center>
<p>Persamaan di atas menunjukkan bahwa nilai faktor perbesaran selalu lebih besar dari 1 (> 1). Sementara itu, nilai faktor pengecilan selalu kurang dari 1 (< 1).</p>
<h2 style="background-color: rgba(118, 59, 119, 0.43);">2. Jenis-Jenis Perbandingan</h2>
<center>
    <img src="\static\img\jenisperbandingan.png" height="360px">
</center>
<p>Dilihat dari bentuknya, perbandingan dibagi menjadi dua, yaitu senilai dan berbalik nilai. Lalu, apa perbedaannya?</p>
<h3 style="background-color: rgba(135, 30, 30, 0.568) ;">a. Perbandingan Senilai</h3>
<p>Perbandingan senilai adalah perbandingan yang menunjukkan bahwa jika salah satu nilai variabel diperbesar, maka nilai variabel lain menjadi semakin besar. Contoh perbandingan senilai bisa kamu lihat di awal pertemuan materi ini, yaitu apakah bensin mobil ayah mencukupi sampai ke taman? Yuk, kita bantu Ayahku!</p>
<p>Problem Solving (Penyelesaian)</p>
<ol>
    <li>2 liter bensin bisa digunakan untuk menempuh jarak 50 km.</li>
    <li> 0,5 liter bensin?</li>
</ol>
<p>Jika saat ini bensin Andi hanya bersisa 0,5 liter, jelas jarak tempuh bensinnya menjadi lebih pendek, yaitu sebagai berikut.</p>
<justify>
    <img src="\static\img\contohpsenilai.png" height="180px">
</justify>
<p>Jadi, sisa bensin mobil Ayahku masih cukup digunakan untuk menempuh jarak 12,5 km. Oleh karena taman berjarak 10 km, maka dengan sisa bensin 0,5 liter Ayahku masih bisa sampai ke taman. Mudah kan Mathlovers?</p>
<h3 style="background-color: rgba(135, 30, 30, 0.568) ;">b. Perbandingan Berbalik Nilai</h3>
<p>Perbandingan berbalik nilai adalah perbandingan yang menunjukkan bahwa jika salah satu nilai variabel diperbesar, maka nilai variabel lain akan menjadi kecil. Misalnya, pembangunan suatu gedung memerlukan waktu 1 bulan dengan 20 pekerja. Jika pekerja ditambah, kira-kira pembangunan gedung menjadi semakin lama atau semakin cepat? Pasti semakin cepat, kan? Nah, itulah contoh penerapan perbandingan berbalik nilai.</p>
<h3 style="background-color: rgba(118, 59, 119, 0.43);">c. Perbandingan Terkait Jumlah & Selisih</h3>
<p>Perbandingan terkait jumlah dan selisih biasanya digunakan untuk menentukan perbandingan umur, jumlah uang, dan tinggi badan. Contohnya sebagai berikut.</p>
<p>Contoh Soal</p>
<p>Ibu Budi baru saja melahirkan seorang bayi dengan tinggi badan 48 cm. Jika tinggi badan Budi 72 cm lebihnya dari tinggi badan adiknya, tentukan perbandingan tinggi badan Budi dan adiknya!</p>
<p>Pembahasan:</p>
<p> Dari soal diketahui informasi berikut.</p>
<p>Tinggi badan bayi = 48 cm</p>
<p>Tinggi badan Budi = 48 + 72 = 120 cm</p>
<p>Dengan mencari hasil bagi diperoleh:</p>
<p>Tinggi badan Budi : tinggi badan adik Budi = 120 : 48</p>
<p>Tinggi badan Budi : tinggi badan adik Budi = 5 : 2</p>
<p>Jadi, tinggi badan Budi dan adiknya adalah 5 : 2.</p>


<style>
    body {
      background-image: linear-gradient(to right, #D75281, #A084CA);
      margin-left: 95px;
      margin-right: 95px;
      padding: 0;
  }
  
  nav {
      top: 0;
      left: 0;
      position: fixed;
      height: 80px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid white;
  }
  
  .logo {
      float: left;
      height: 10px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 20px 20px;
      justify-content: space-around;
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;
      display: flex;
  }
  
  nav ul li a {
      font-size: 15px;
      font-weight: bold;
      color: white;
      line-height: 80px;
      text-decoration: none;
      padding: 12px 30px;
  }
  nav ul li a:hover {
border-radius: 10px;
background: rgba(0, 0, 0, 0.8);
}
</style>


