<body>

    <center>
        <img src="\static\img\perbandingan.png" height="350px">
    </center>
</body>

<h2 style="background-color: rgba(135, 30, 30, 0.568) ;">Kegiatan Belajar</h2>
<p>Perbandingan Pecahan, Pada saat anak belajar membandingkan pecahan siswa memerlukan pengalaman-pengalaman sehingga menghasilkan temuan-temuan khusus. Berikut alternatif pembelajaran dari kegiatan membandingkan pecahan.</p>
<jusify>
    <img src="\static\img\kegiatan.png" height="600px">
</justify>


<style>
    body {
      background-image: linear-gradient(to right, #D75281, #A084CA);
      margin-left: 90px;
      margin-right: 90px;
      padding: 0;
  }
  
  nav {
      top: 0;
      left: 0;
      position: fixed;
      height: 80px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid white;
  }
  
  .logo {
      float: left;
      height: 10px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 20px 20px;
      justify-content: space-around;
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;
      display: flex;
  }
  
  nav ul li a {
      font-size: 15px;
      font-weight: bold;
      color: white;
      line-height: 80px;
      text-decoration: none;
      padding: 12px 30px;
  }
  nav ul li a:hover {
border-radius: 10px;
background: rgba(0, 0, 0, 0.8);
}
</style>


